# Arquivos de ambiente
.env
.venv/

# Bancos de dados
*.db
ludopedia-ec2-key.pem

# Cache
__pycache__/

# Outros arquivos
teste.py
exportar_csv.py
atualizar_sqlite.py
ler_csv.py
info.txt
*.csv
*.pbix
*.ipynb
